    @model IEnumerable<ShoppingZone.Data.Entity.Category>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/Layout.cshtml";
    }

    <title>Index</title>
<head>
    <link href="~/src/still/Index.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-md-9">
                <a href="/Admin2/Create" class="btn btn-primary" style="color: white; text-decoration: none; ">Create New</a>
                <table class="table" style="margin-top: 30px">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-md-3">
                <div class="lastArea">
                    <div class="list-group">
                        <a href="/Admin/Index" class="list-group-item list-group-item-action list-group-item-light">Product</a>
                        <a href="" class="list-group-item list-group-item-action list-group-item-light active">Category</a>
                        <a href="/Admin/UserList" class="list-group-item list-group-item-action list-group-item-light">Users</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>

</body>
    
